.chargement {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #9356DC;
    border-left: 10px solid #FF79DA;
    border-right: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height:100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: spin 1.5s linear infinite;
    cursor: pointer;
	z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}

header {
	animation: demoSpinner 3s;
	animation-timing-function: steps(1, jump-end);
}

section {
	animation: demoSpinner 3s;
	animation-timing-function: steps(1, jump-end);
}

main {
	animation: demoSpinner 3s;
	animation-timing-function: steps(1, jump-end);
}

footer {
	animation: demoSpinner 3s;
	animation-timing-function: steps(1, jump-end);
}

@keyframes demoSpinner {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
